.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* Добавляем стили для ссылок */
.link {
  display: flex;
  text-decoration: none;
  color: var(
    --text-inactive-color
  ); /* Цвет по умолчанию для неактивной ссылки */
}

.link:visited {
  color: var(--text-inactive-color); /* Цвет для посещенной ссылки */
}

.link:hover {
  color: var(--text-primary-color); /* Цвет ссылки при наведении */
  text-decoration: none; /* Убираем подчеркивание при наведении */
}

.link:active {
  color: var(--text-primary-color); /* Цвет ссылки при нажатии */
  text-decoration: none; /* Убираем подчеркивание при нажатии */
}

.link_active {
  color: var(--text-primary-color); /* Цвет активной ссылки */
}

.link_active:visited {
  color: var(--text-primary-color); /* Цвет для посещенной активной ссылки */
}
